@font-face {
    font-family: Brutman;
    src: url("./Brutman-100.otf") format("opentype");
}

:root {
    --main-color: #6951f0;
    --lighter-color: #7661f1;
    --column-width: 40vw;
    --front-gradient: linear-gradient(var(--main-color), rgba(100, 83, 195, 72), rgba(98, 84, 173, 58));
    --back-gradient: linear-gradient(rgba(105, 81, 240, 72), rgba(255, 255, 255, 58));
    --font-size: 19px;
}

body {
    font-family: Brutman, Lato, sans-serif;
    font-size: var(--font-size);
    background-color: black;
    color: white;
    font-weight: normal;
}
main {
    padding: 60px 12vw 0 12vw;
}

.description {
    max-width: 85%;
}
h1 {
    font-size: 2.9em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.67em;
}
h4 {
    font-size: 1.3em;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.side-padding {
    padding: 0 4vw;
}
.no-decoration {
    text-decoration: none;
    // display: inline;
}
.logo-link {
    display: inline-block;
}
.about-us {
    background: #804436;
    article {
        margin-top: 13vh;
        max-width: 38em;
    }
}
.about-us,
.pricing {
    article {
        margin-top: 13vh;
    }
    p {
        line-height: 1.5em;
    }
    .back {
        margin: 4em 0 3em 0;
        display: block;
        // color: #9e9e9e;
        display: inline-block;
    }
}
.pricing {
    background: #414144;
    overflow-x: hidden;
    p {
        // font-size: 0.8em;
        line-height: 1.3em;
    }
    a {
        display: contents;
    }
    .card {
        border: 10px solid #5c5c61;
        padding: 2em 2em 4em 2em;
        margin: 3em 0.1em 0 0.1em;
        max-width: 200px;
        position: relative;
        transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
        svg {
            margin: 1em auto 3em auto;
            width: auto;
            max-height: 168px;
            display: block;
        }
        &:hover {
            background-color: rgba(92, 92, 97, 50%);
            border-color: rgba(104, 104, 110, 100%);
            box-shadow: rgba(92, 92, 97, 90%) 12px -12px;
        }
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1199px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 870px) {
        .cards {
            margin-left: -6vw;
            margin-right: -6vw;
        }
    }
    .price {
        color: #9e9e9e;
        text-align: right;
        position: absolute;
        bottom: 2em;
        display: block;
        right: 2em;
    }
    .blob {
        display: block;
        position: absolute;
        z-index: -1;

        &.one {
            top: 8%;
            left: 54%;
        }
        &.two {
            top: 55%;
            left: -13%;
        }

        &.three {
            top: 148vh;
            left: 70vw;
        }
        &.four {
            bottom: 10vh;
            left: 65vw;
        }
        @media (max-width: 580px) {
            &.two {
                top: 85%;
            }
            &.three {
                top: 225vh;
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: line-through;
    color: white;
    position: relative;
    transition: clip-path 275ms ease;

    &:hover span::before,
    &:focus span::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
        position: relative;
        display: inline;
        text-decoration: line-through;
        &::before {
            position: absolute;
            content: attr(data-content);
            text-decoration: line-through;
            text-decoration-color: var(--main-color);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            transition: clip-path 275ms ease;
        }
    }
}
.logo-sign {
    color: var(--main-color);
}
.logo-link {
    text-decoration: none;
}
.logo {
    font-size: 8em;
    margin: 0;
    display: flex;
    .logo-name {
        word-wrap: break-word;
        display: inline-block;
        max-width: 60vw;
    }
    .caret {
        border-right: 5px solid white;
        animation: pulse 900ms steps(1) 4;
        @keyframes pulse {
            0% {
                border-right: 5px solid white;
            }
            50% {
                border-right: none;
            }
            100% {
                border-right: 5px solid white;
            }
        }
    }
}
.start-hide {
    opacity: 100%;
    transition: opacity 1200ms;
    &.hidden {
        // opacity: 0;
    }
}
.nav {
    margin-top: 49px;
}
.nav,
.opening-line {
    text-align: right;
    margin-bottom: 2.2em;
}
.opening-line {
    margin-top: calc(35vh + 0.5em);
}
.opening-line .text-gradient {
    color: var(--main-color);
}
.opening-line .users {
    letter-spacing: 0.25em;
    // animation: breathe 6s ease-in-out infinite;
    // @keyframes breathe {
    //     0% {
    //         letter-spacing: 0.1em;
    //     }
    //     50% {
    //         letter-spacing: 0em;
    //     }
    //     100% {
    //         letter-spacing: 0.1em;
    //     }
    // }
}
.users::before {
    content: " \00A0";
}
.nav {
    text-align: right;
    justify-self: right;
}
header > h2 {
    max-width: 50%;
}

section {
    position: relative;
    h2 {
        margin-bottom: 30px;
    }
    svg {
        width: 100%;
        height: 100%;
    }
}
.ux {
    max-width: 622px;

    .smile {
        position: absolute;
        left: 26%;
        top: 10%;
        display: block;
        margin: 0 auto;
        max-width: 51%;
    }
    // .eyes {
    //     animation: light 2s steps(1);

    //     @keyframes light {
    //         5%,
    //         15% {
    //             fill: url("#paint1_linear");
    //         }
    //         0%,
    //         10%,
    //         30% {
    //             fill: white;
    //         }
    //     }
    // }
    .text {
        position: absolute;
        top: 42%;
        left: 10%;
    }
}
.responsive {
    max-width: 622px;
    max-height: 684px;
    margin-left: auto;
    .text {
        position: absolute;
        max-width: 506px;
        top: 6%;
        left: 10%;
    }
}
.social {
    max-width: 622px;
    max-height: 681px;
    .text {
        position: absolute;
        max-width: 461px;
        top: 41%;
        left: 13%;
        h2 {
            z-index: -1;
            position: relative;
        }
    }
}
.seo {
    max-width: 622px;
    max-height: 520px;
    margin-left: auto;
    .text {
        position: absolute;
        max-width: 546px;
        top: 30%;
        left: -18%;
    }
}
.environment {
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8vw;
    svg {
        max-width: 626px;
    }
    .text {
        position: absolute;
        max-width: 382px;
        top: 47%;
        left: 12%;
    }
}
.order {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    h2 {
        font-size: 2em;
    }
    .button {
        position: relative;
    }
    .text {
        position: absolute;
        top: 35%;
        left: 24%;
    }
    .shape {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 1550px) {
    section {
        margin-top: 4em;
    }
    .environment {
        margin-top: 0;
    }
}
@media (max-width: 1250px) {
    .opening-line {
        margin-bottom: 0;
    }
    .environment {
        margin-top: 4em;
    }
}
@media (max-width: 1150px) {
    :root {
        --font-size: calc(12px + 0.6vw);
    }
    .ux,
    .responsive,
    .social,
    .seo,
    .environment {
        margin-left: auto;
        margin-right: auto;
    }
    .seo .text {
        left: 10%;
    }
    section .text {
        width: 86%;
    }
}
@media (max-width: 860px) {
    section .text h2 {
        margin-bottom: 0;
    }
    .ux {
        margin-bottom: 6.5em;
    }
}
@media (max-width: 689px) {
    body {
        padding: 4vw;
    }
    main {
        padding: 0;
    }
    .opening-line {
        h1 {
            font-size: 2.5em;
        }
        .users {
            letter-spacing: initial;
            &::before {
                display: none;
            }
        }
    }
}
@media (max-width: 530px) {
    .responsive .text {
        top: 0;
    }
    .order .text {
        top: 13vw;
        left: 18vw;
    }
}
@media (max-width: 500px) {
    body {
        padding: 0;
    }
    .description {
        max-width: 93%;
    }
}
.small-screen {
    display: none;
}
@media (max-width: 420px) {
    .small-screen {
        display: block;
    }
    .big-screen {
        position: absolute;
        opacity: 0;
    }
    .ux .text {
        top: 28%;
    }
    .social .description {
        max-width: 80%;
    }
    .social .text {
        top: 21%;
    }
    .seo .text {
        top: 16%;
    }
}
@media (max-width: 370px) {
    h2 {
        font-size: 2.2em;
    }
    .order .text {
        top: 12vw;
        left: 13vw;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7em;
    justify-content: space-between;
    .contact {
        text-align: end;
    }
    .links a,
    .phone {
        margin-right: 1em;
    }
    .links,
    .contact {
        padding-top: 1em;
        padding-bottom: 0;
        border-top: 5px aliceblue solid;
        border-image-slice: 1;
    }
    .links {
        border-image-source: linear-gradient(to right, var(--lighter-color), black);
    }
    .contact {
        border-image-source: linear-gradient(to left, var(--lighter-color), black);
    }
}

// animations
// @keyframes typing {
//     from {
//         width: 0;
//     }
//     to {
//         width: 100%;
//     }
// }

// .logo-name {
//     animation: typing 3.5s steps(11, end), blink-caret 0.75s step-end infinite;
// }
