@use "base";

body {
    overflow: hidden;
    margin: 0;
}

.logo-sign {
    font-size: 12rem;
    // color: black;
    font-weight: bold;
    position: absolute;
    top: 36vh;
    left: 40vw;
    margin: auto;
    text-align: center;

    // transition: color 200ms;
}
a:hover {
    .logo-sign {
        color: white;
    }
}
.noise {
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
