@font-face {
  font-family: Brutman;
  src: url("../resources/Brutman-100.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: Brutman;
  src: url("../resources/Brutman-70.otf") format("opentype");
  font-weight: normal;
}
:root {
  --main-color: #6951f0;
  --lighter-color: #7661f1;
  --grey: #c4c4c4;
  --column-width: 40vw;
  --front-gradient: linear-gradient(var(--main-color), rgba(100, 83, 195, 72), rgba(98, 84, 173, 58));
  --back-gradient: linear-gradient(rgba(105, 81, 240, 72), rgba(255, 255, 255, 58));
  --font-size: 19px;
  --h1: 2.9rem;
  font-size: var(--font-size);
}

body {
  font-family: Brutman, Lato, sans-serif;
  background-color: black;
  color: white;
  font-weight: normal;
}

main {
  padding: 60px 12vw 0 12vw;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.67rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

h5 {
  font-size: 1.15rem;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

[type=checkbox] {
  position: absolute;
  left: -1000vw;
  opacity: 0;
}

[type=checkbox] + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
}

[type=checkbox] + label::before {
  content: "";
  border: 0.3em solid var(--main-color);
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-right: 0.5em;
  position: absolute;
  left: 0;
  top: -0.15em;
}

[type=checkbox]:checked + label::before {
  background-color: var(--main-color);
  animation: stretch 100ms ease-in-out;
}
@keyframes stretch {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

[type=number] {
  border: none;
  border-bottom: 0.3em solid var(--main-color);
  background: none;
  width: 1.15em;
  color: white;
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: Brutman;
  font-size: 1em;
  margin-top: -0.37em;
  margin-right: 0.5em;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  background-color: var(--main-color);
  color: white;
  font-family: Brutman;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}
button:hover {
  background-color: #6130ed;
}

.side-padding {
  padding: 0 4vw;
}

.no-decoration {
  text-decoration: none;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: line-through;
  color: white;
  position: relative;
  transition: clip-path 275ms ease;
}
a:hover span::before, a:focus span::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
a span {
  position: relative;
  display: inline;
  text-decoration: line-through;
}
a span::before {
  position: absolute;
  content: attr(data-content);
  text-decoration: line-through;
  text-decoration-color: var(--main-color);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 275ms ease;
}

.logo-sign {
  color: var(--main-color);
}

.logo {
  font-size: 2rem;
  margin: 0;
  display: flex;
}
.logo .logo-name {
  word-wrap: break-word;
  display: inline-block;
  max-width: 60vw;
}
.logo .caret {
  border-right: 5px solid white;
  animation: pulse 900ms steps(1) 4;
}
@keyframes pulse {
  0% {
    border-right: 5px solid white;
  }
  50% {
    border-right: none;
  }
  100% {
    border-right: 5px solid white;
  }
}

@media (max-width: 1150px) {
  :root {
    --font-size: calc(12px + 0.6vw);
  }
}
@media (max-width: 689px) {
  body {
    padding: 4vw;
  }

  main {
    padding: 0;
  }
}
@media (max-width: 500px) {
  body {
    padding: 0;
  }
}
@media (max-width: 370px) {
  h2 {
    font-size: 2.2em;
  }
}
body {
  font-size: 16px;
}

.back {
  display: none;
  display: inline-block;
  z-index: 2;
}

.about-us article,
.pricing article {
  margin-top: 13vh;
}
.about-us p,
.pricing p {
  line-height: 1.5em;
}

body {
  background: #bbbbbb;
}

article {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.options-form {
  margin: 8vh auto 1em auto;
  display: flex;
}

@media (max-width: 1000px) {
  .options-form {
    flex-wrap: wrap;
  }
}
.left {
  padding: 4em;
  background: #414144;
  flex-grow: 1;
}
.left header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3em;
}
.left header svg {
  max-height: 90px;
}
.left header .title {
  border-bottom: 3px solid var(--main-color);
  margin-bottom: 0;
  margin-left: 10px;
}
.left .options-title-container {
  display: flex;
  justify-content: space-between;
  margin: -0.8em 0;
}
.left .options-title-container .options-title {
  color: var(--grey);
  text-align: center;
  display: block;
}
.left .options-title-container .line-left,
.left .options-title-container .line-right {
  border-bottom: 2px solid #bbbbbb;
  margin: auto 0;
  flex-grow: 1;
  display: inline-block;
}
.left .options-title-container .line-left {
  margin-right: 1em;
}
.left .options-title-container .line-right {
  margin-left: 1em;
}
.left .options-list {
  padding: 0;
}
.left .options-list li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0.7em 0;
}
.left .options-list li label {
  display: inline-block;
  max-width: 75%;
}
.left .options-list li .option-price {
  align-self: flex-end;
  margin-left: auto;
  color: var(--grey);
  word-wrap: no-wrap;
}

@media (max-width: 600px) {
  .left {
    padding: 2em;
  }
  .left .options-list li label {
    max-width: 63%;
  }
}
@media (max-width: 450px) {
  .left {
    padding: 1em;
  }
}
.right {
  padding: 3vw;
  background: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.right .final-price-container {
  text-align: center;
  margin-bottom: 0.5em;
  color: var(--main-color);
}
.right .final-price-container .final-price {
  display: inline;
}
.right button {
  padding: 0 3em;
}

.hidden {
  opacity: 0;
  position: absolute;
  right: 999vw;
}

.blob {
  display: block;
  position: absolute;
  transform: scale(0.7);
}
.blob.one {
  top: -12%;
  left: 62%;
}
.blob.two {
  top: 30%;
  right: 70vw;
}
.blob.three {
  left: 60vw;
  bottom: -6vh;
}

.contact-form {
  margin-top: 22%;
}
.contact-form .input-container {
  max-width: 10em;
  display: inline-block;
}
.contact-form .input-container.email-container {
  max-width: 18em;
}
.contact-form [type=text],
.contact-form [type=email] {
  border: none;
  border-bottom: 3px solid white;
  width: 100%;
  color: var(--main-color);
  background-color: transparent;
  font-family: Brutman;
  font-size: 1em;
  font-weight: bold;
}
.contact-form [type=submit] {
  display: block;
  color: white;
  background: none;
  border: none;
  font-size: var(--h1);
  padding: 0;
  margin-left: auto;
  font-family: Brutman;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contact-form {
    --h1: 2em;
  }
}

.blobs {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blob {
  z-index: -1;
}

/*# sourceMappingURL=contact-form.css.map */
