@use 'base';
@use 'subpage';

html {
    // height: 100%;
    position: relative;
    overflow-x: hidden;
}
.pricing {
    // height: 100%;
    // position: relative;

    p {
        line-height: 1.3em;
    }
    a {
        display: contents;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1199px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;

        .card {
            border: 7px solid var(--border-color);
            padding: 2em 2em 4em 2em;
            margin: 1em;
            max-width: 200px;
            position: relative;
            transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;

            h4 {
                border-bottom: 3px solid var(--main-color);
                display: inline-block;
                margin: 0;
            }
            svg {
                margin: 1em auto 3em auto;
                width: auto;
                max-height: 100px;
                display: block;
            }
            &:hover {
                background-color: rgba(92, 92, 97, 50%);
                border-color: var(--main-color);
                box-shadow: var(--border-color) 12px -12px;
            }
        }
    }
    @media (max-width: 870px) {
        main {
            padding: 60px 0 0 0;
        }
        .side-padding {
            padding-left: 12vw;
            padding-right: 12vw;
        }
    }
    .price {
        color: #9e9e9e;
        text-align: right;
        position: absolute;
        bottom: 2em;
        display: block;
        right: 2em;
    }
    .blobs {
        position: absolute;
        overflow: hidden;
        // overflow-y: visible;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // width: 100%;
        // height: 100%;
        z-index: -1;
    }
    .blob {
        display: block;
        position: absolute;
        transform: scale(0.7);

        &.one {
            top: -12%;
            left: 62%;
        }
        &.two {
            top: 30%;
            left: -13%;
        }

        &.three {
            left: 60vw;
            bottom: -27vh;
        }
        @media (max-width: 580px) {
            &.two {
                top: 85%;
            }
            &.three {
                top: 225vh;
            }
        }
    }
}
