@use 'base';
@use 'subpage';

.pricing {
    background: #414144;
    overflow-x: hidden;
    p {
        line-height: 1.3em;
    }
    a {
        display: contents;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1199px;
        margin-left: auto;
        margin-right: auto;

        .card {
            border: 7px solid #5c5c61;
            padding: 2em 2em 4em 2em;
            margin: 3em 0 0 0;
            max-width: 200px;
            position: relative;
            transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;

            &:not(:nth-of-type(0)) {
                margin-left: 2em;
            }
            h4 {
                border-bottom: 3px solid var(--main-color);
                display: inline-block;
                margin: 0;
            }
            svg {
                margin: 1em auto 3em auto;
                width: auto;
                max-height: 100px;
                display: block;
            }
            &:hover {
                background-color: rgba(92, 92, 97, 50%);
                border-color: rgba(104, 104, 110, 100%);
                box-shadow: rgba(92, 92, 97, 90%) 12px -12px;
            }
        }
    }
    @media (max-width: 870px) {
        .cards {
            margin-left: -6vw;
            margin-right: -6vw;
        }
    }
    .price {
        color: #9e9e9e;
        text-align: right;
        position: absolute;
        bottom: 2em;
        display: block;
        right: 2em;
    }
    .blob {
        display: block;
        position: absolute;
        z-index: -1;
        transform: scale(0.7);

        &.one {
            top: -12%;
            left: 62%;
        }
        &.two {
            top: 30%;
            left: -13%;
        }

        &.three {
            left: 60vw;
            bottom: -27vh;
        }
        // &.four {
        //     bottom: 10vh;
        //     left: 65vw;
        // }
        @media (max-width: 580px) {
            &.two {
                top: 85%;
            }
            &.three {
                top: 225vh;
            }
        }
    }
}
