@use 'base';
@use 'subpage';
@use 'blobs';

html {
    position: relative;
}

article {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.options-form {
    margin: 8vh auto 1em auto;
    display: flex;
}
@media (max-width: 1000px) {
    .options-form {
        flex-wrap: wrap;
    }
}
.left {
    padding: 4em;
    flex-grow: 1;

    header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 3em;

        svg {
            max-height: 90px;
        }

        .title {
            border-bottom: 3px solid var(--main-color);
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .options-title-container {
        display: flex;
        justify-content: space-between;
        margin: -0.8em 0;
        .options-title {
            color: var(--grey);
            text-align: center;
            display: block;
        }
        .line-left,
        .line-right {
            border-bottom: 2px solid #bbbbbb;
            margin: auto 0;
            flex-grow: 1;
            display: inline-block;
        }
        .line-left {
            margin-right: 1em;
        }
        .line-right {
            margin-left: 1em;
        }
    }
    .options-list {
        padding: 0;

        li {
            list-style: none;
            display: flex;
            align-items: flex-start;
            margin: 0.7em 0;

            label {
                display: inline-block;
                max-width: 75%;
            }
            .option-price {
                align-self: flex-end;
                margin-left: auto;
                color: var(--grey);
                word-wrap: no-wrap;
            }
        }
    }
}
@media (max-width: 600px) {
    .left {
        padding: 2em;
        .options-list li label {
            max-width: 63%;
        }
    }
}
@media (max-width: 450px) {
    .left {
        padding: 1em;
    }
}
.right {
    padding: 3vw;
    border: 8px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .final-price-container {
        text-align: center;
        margin-bottom: 0.5em;
        color: white;
        .final-price {
            display: inline;
        }
    }
    button {
        padding: 0 3em;
    }
}

.hidden {
    opacity: 0;
    position: absolute;
    right: 999vw;
}
