body {
    font-size: 16px;
}
.back {
    display: none;
    display: inline-block;
    z-index: 2;
    color: var(--main-color);
}

.about-us,
.pricing {
    article {
        margin-top: 13vh;
    }
    p {
        line-height: 1.5em;
    }
}
