body {
    font-size: 1em;
}
.logo {
    font-size: 2em;
    transition: font-size 200ms ease-in-out;
}
.about-us .logo {
    font-size: 8em;
}

.about-us,
.pricing {
    article {
        margin-top: 13vh;
    }
    p {
        line-height: 1.5em;
    }
    .back {
        display: block;
        display: inline-block;
    }
}
