@use 'base';

body {
    overflow: hidden;
}
main {
    display: flex;
    align-items: flex-end;
}
.logo {
    font-size: 100vh;
    position: absolute;
    top: -20vh;

    @media (max-width: 450px) {
        font-size: 80vh;
        top: 39vh;
        top: -4vh;
        left: 9vw;
        bottom: 0;
    }
    @media (max-width: 380px) {
        font-size: 70vh;
    }
}
.thanks {
    max-width: 60vh;
    position: absolute;
    top: 48.6vh;
    left: 32vw;
    @media (max-width: 1100px) {
        opacity: 0;
    }
}
